body {
    margin: 0;
    padding: 0;
    font-family: 'Kaisei Tokumin', serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0C3B2E;
    padding-bottom: 10px;
}

header img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    display: inline-block;
}

nav {
    text-align: center;
    background-color: #0C3B2E;
    padding-bottom: 5px;
}

nav ul {
    margin-top: 0;
}

nav ul li {
    list-style: none;  
    display: inline;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 45px;
    margin-left: 2px;
    font-size: 120%;
}

nav ul li a:hover {
   color: darkgrey;
}

/* Estilo Pagina Principal */

.txtPrin img#PousadaPrin {
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 20px 10px 0;
    max-width: 500px;
}

.txtPrin img#PousadaMenor {
    display: none;
}

@media screen and (max-width: 480px) {
    
    .txtPrin img#PousadaPrin {
        display: none;
    }

    .txtPrin img#PousadaMenor {
        display: inline;
        float: left;
        border: transparent thin solid;
        padding: 5px;
        margin: 0px 20px 10px 0;
        max-width: 300px;
    }

    .map iframe {
        display: none;
    }

}

.txtPrin p {
    margin-right: 5%;
}

.txtPrin ul li {
    list-style: none;
}

.map iframe{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 120px 10px 100px;
    max-width: 300px;
    max-height: 200px;
}


/* Estilo Hospedagem */

table {
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;  
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    
  }
  
  tr:nth-child(even) {
    background-color: #0c3b2e46;
  }

  td img {
      border-radius: 5%;
      width: 100%;
  }

  /* Estilo Reserva */

  form {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
  }

  fieldset {
      margin: 0 30% 0 30%;
  }

  form div p{
    display: flex;
    flex-direction: column;    
}

  form input {
      height: 13px;
  }

  #buttonEnviar {
      background-color: rgb(27, 175, 27);
      color: white;
      border-radius: 50px;
      padding: 5%;
  }

  #buttonLimpar {
      background-color: rgb(63, 63, 63);
      color: white;
      border-radius: 50px;
      padding: 5%;
  }